.formContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  text-align: left;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.form input, .form select {
  width: 30vh;
  height: 3vh;
}

.form option {
  text-align: center;
  width: 100%;
}

.formSubmit {
  border-color: transparent;
  margin-top: 2vh;
  align-self: center;
  background-color: black;
  padding: 0.75vh;
  color: white;
  font-weight: bold;
}

.formSubmit:hover {
  background-color: rgb(102, 102, 102);
}

.formSubmit:active {
  background-color: rgb(211, 211, 211);
  color: black;
}
