.auth-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw 10vw;
  }
  
  .auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 8vh 4vh;
  }

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }