.pageTitle {
  display: flex;
  justify-content: center;
}

.Timer-And-Intro-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Timer-Icon-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(119, 119, 119);
  column-gap: 1vh;
}

.Assessment-Intro-Text {
  text-align: center;
  padding: 20px;
}

.AssessmentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AssessmentContent {
    width: 80vw;
}
