.pageTitle {
    display: flex;
    justify-content: center;
}

.Timer-And-Intro-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Timer-Icon-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Assessment-Intro-Text {
    padding: 20px;

}