.dashboard-page {
  padding: 2vh;
  margin: 0vw 30vw;
}

.dashboard-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2vh;
  padding: 2vh 0vh;
}

.dashboard-card p, h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1vh 1vh 2vh 1vh;
}

.dashboard-header {
  text-align: center;
}

.dashboard-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vh;
  margin-bottom: 2vh;
}

.dashboard-card p {
  font-size: 1.5vh;
}

.dashboard-card-subheader {
  display: flex;
  flex-direction: column;
}

.page-title {
  padding: 2vh 0vh;
}

.new-message-box {
  padding: 2vh;
  row-gap: 0.5vh;
  margin-bottom: 4vh;
}

.new-message-box .formSubmit {
  align-self: flex-end;
}

.symptom-box {
  padding: 2vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.symptom-box button {
  margin-top: 0vh;
}

@media screen and (max-width: 900px) {
  .dashboard-page {
    margin: 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
  .dashboard-page {
    margin: 0vw 10vw;
  }
}