.FAQs-Container {
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(211, 211, 211, 0.253);
}
.FAQs-Container > p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.FAQ-Ital {
    font-style: italic;
}