.PageNavigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.PageNavigator .formSubmit {
  margin-top: 0vh;
}

.PageNavigator h3 {
  text-decoration: underline;
  color: gray;
}

.PageNavigator h3:hover {
  cursor: pointer;
  color: rgb(80, 80, 80);
}