.petCard {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  column-gap: 2vh;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.petCard p, .petCard h4 {
  margin-block-start: 0px;
  margin-block-end: 0px
}

.petPhotoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.petPhoto {
  width: 20vh;
  height: 15vh;
}

.petDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  width: 15vh;
  height: 20vh;
}