.AssessmentBox {
  background-color: white;
  border: 1px solid black;
  padding: 3vh 4vh;
  margin: 2vh 0vh;
  height: 40vh;
  overflow-y: scroll;
}

.AssessmentBox p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.SymptomCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2vh;
  row-gap: 1vh;
}