.header {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .header-navigation {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }
  
  .header-navigation h1 {
    margin-left: 4%;
    margin-right: auto;
    transform: scale(2);
  }
  
  .header-links {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    margin-right: 30px;
    transform: scale(2);
    fill: black;
  }

  h1 {
    font-size: 40px;
  }