.vetCard {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    column-gap: 2vh;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

.vetCard p, .vetCard h3 {
  margin-block-start: 0px;
  margin-block-end: 0px
}

.vetPhotoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vetPhoto {
  width: 20vh;
  height: 20vh;
}

.vetDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  width: 20vh;
  height: 20vh;
}